/* font-family: Righteous-Regular */

@font-face{
    font-family: Righteous;
    src:url(../fonts/Righteous/Righteous-Regular.ttf)

}
/* font-family: Abel */

@font-face{
    font-family: Abel;
    src: url(../fonts/Abel/Abel-Regular.ttf)
}
/* font-family: IBM_plex_Sans */

@font-face{
    font-family: IBM_plex_Sans;
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf)
}
/* font-family: Exo */

@font-face{
    font-family: Exo;
    src: url(../fonts/Exo/Exo-VariableFont_wght.ttf)

}
/* font-family: Architects_Daughter */

@font-face{
    font-family: Raleway;
    src: url(../Raleway/Raleway-VariableFont_wght.ttf)

}
